{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h2>Controle de Estoque</h2>
            <div class="table-container">
                <table class="tabela-estoque">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                            <tr>
                                <td>{{ produto[0] }}</td>
                                <td>{{ produto[1] }}</td>
                                <td>R${{ '%.2f' % produto[2] }}</td>
                                <td>{{ produto[3] }}</td>
                                <td>
                                    <a href="{{ url_for('editar_produto', produto_id=produto[0]) }}"><i class="fas fa-edit"></i></a>
                                    <a href="{{ url_for('excluir_produto', produto_id=produto[0]) }}" onclick="return confirm('Tem certeza que deseja excluir este produto?');"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
