{% extends 'base.html' %}

{% block content %}
    <h2>Controle de Estoque</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto[0] }}</td>
                    <td>{{ produto[1] }}</td>
                    <td>R${{ '%.2f' % produto[2] }}</td>
                    <td>{{ produto[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
