{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="container">
            <h2 class="page-title">Bem-vindo ao Sistema de Gestão de Loja</h2>
            <p class="description">Este sistema permite que você gerencie produtos, registre vendas e gere relatórios financeiros.</p>
            
            <div class="menu-container">
                <div class="menu-item">
                    <a class="menu-link" href="{{ url_for('cadastrar_produto') }}">Cadastrar Produto</a>
                    <p class="menu-description">Aqui você pode cadastrar os produtos da sua loja.</p>
                </div>
                
                <div class="menu-item">
                    <a class="menu-link" href="{{ url_for('controle_estoque') }}">Controle de Estoque</a>
                    <p class="menu-description">Aqui você pode ter controle do seu estoque.</p>
                </div>
                
                <div class="menu-item">
                    <a class="menu-link" href="{{ url_for('registrar_venda') }}">Registrar Venda</a>
                    <p class="menu-description">Aqui você pode registrar as vendas do dia-a-dia.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
